<div class="container">
   <div class = "comment">
      <br>
      <div class = "form-group">
         <div class="timeline-header">
            <span style = "left: 5px;">&nbsp;
               <%= comment.commenter %>
            </span>
         </div>
         <div class="timeline-body">
            <span style = "left: 5px;">&nbsp;
               <%= comment.body %>
            </span>
         </div>
      </div>
      <p>
         <%= link_to 'Destruir comentario', [comment.article, comment],
         method: :delete,
         data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" %>
      </p>
      <br>
   </div>
</div>
