$navbar-default-bg: black;

#logo {
   font-size: 30px;
   font-weight: bold;
}

* {
   box-sizing: border-box;
}

div {
   display: block;
}

.jumbotron {
   top: 280px;
   height: 500px;
   position: relative;
   width: 125em;
   text-align: center;
   left: 50%;
   transform: translate(-50%,-50%);
   background: image-url('ruby-wall.jpg');
   background-size: auto 100%;
}

#specialjumbo {
   top: 280px;
   height: 500px;
   position: relative;
   width: 125em;
   text-align: center;
   left: 50%;
   transform: translate(-50%,-50%);
}

.specialli {
   text-align: left;
   font-size: 25px;
   font-weight: bold;
   color: #5F9EA0;
}


td,th {
   padding: 5px;
   text-align: center;
   border: 1px solid black;
}

.h2normal {
   color: black;
}

.footer {
   position: relative;
   top: 300px;
}

#h1bold {
   font-weight: bold;
   font-color: #3399ff
}

.comment {
   position: relative;
   left: 50px;
}

.timeline-header {
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: black;
   background-color: #f2f2f2;
   border-bottom: 2px solid #d1d5da;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   font-weight: 600;
   font-size: 15px;
   border-top: 1.8px solid #d1d5da;
   border-left: 1.8px solid #d1d5da;
   border-right: 1.8px solid #d1d5da;
   border-bottom: 0.25px solid #d1d5da;
}

.timeline-body {
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 14px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   line-height: 1.5;
   color: #24292e;
   background-color: #fff;
   border: 1px solid #d1d5da;
}

footer a:hover {

color: #222;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

}
