<div class="container">
   <div class="jumbotron">
      <h1 id = "h1bold">Bem-vindo ao MyBlog!</h1>
      <br><br>
      <p><a class="btn btn-primary btn-lg" href="welcome/about" role="button">Saiba mais</a></p>
   </div>
</div>
