<div class="container">
   <div class="jumbotron">
      <h1 id = "h1bold">Bem-vindo ao Blog!</h1>
      <p>
         <%= link_to 'Blog do Tiago', controller: 'articles' %>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a></p>
   </div>
</div>
